@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style: none;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #3498db;
  transition: all .3s;
}


.img-perfil {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-perfil img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.sidebar .links-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .links-content nav {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  justify-content: center;
}

.sidebar .links-content nav button {
  padding: 20px;
  text-align: left;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: .4s;
}

.sidebar .links-content .active {
  background-color: white;
}

.sidebar .links-content nav button:hover {
  background-color: #ffffff75;
}

.sidebar .links-content nav button > span {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  transition: ease-in-out .3s;
}

.sidebar .links-content nav button > span >span {
  font-size: 1rem;
}

.container {
  margin-left: 251px;
  display: flex;
  flex-direction: column;
  transition: ease-in-out .05s;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

#saudacao {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
}











/* Media Query */
@media(width < 920px){
  .sidebar {
    width: 72px;
  }

  .sidebar button > span {
    width: 50px;
  }

  .sidebar button > span > span {
    opacity: 0;
    visibility: hidden;
  }

  .container {
    margin-left: 72px;
    display: flex;
    flex-direction: column;
  }
  

}