@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style: none;
}

body,
html {
  height: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  min-height: 90vh;
  height: 100%;
  flex-direction: column;
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  height: 10vh;
  min-width: calc(100% - 500px);
  
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.header p {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
}

.sidebar {
  background-image: linear-gradient(
    132.6deg,
    rgba(71, 139, 214, 1) 23.3%,
    rgba(37, 216, 211, 1) 84.7%
  );
  max-width: 500px;

  height: 100dvh;
  display: none;
}

/* Foto do perfil */
.sidebar .img-perfil {
  width: 100%;
  height: 250px;
  display: grid;
  place-items: center;
}

.sidebar .img-perfil img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: #fff;
  object-fit: cover;
}

.sidebar .links-content a {
  display: block;
  padding: 25px;
  width: 100%;
  color: #fff;
  font-weight: bold;
  transition: .2s;
}

.sidebar .links-content a:hover  {
  background-color: #fff;
  color: black;
}

.sidebar .links-content nav {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;

}



































.content {
  flex: 1;
  min-width: calc(100% - 500px);
}

























@media (min-width: 1080px) {
  .sidebar {
    display: block;
  }
}
