@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style: none;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  transition: all 0.3s;
  background-color: black;
}

.img-perfil {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-perfil img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.sidebar .links-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .links-content nav {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  justify-content: center;
}

.sidebar .links-content nav button {
  padding: 20px;
  text-align: left;
  background-color: black;
  border: none;
  cursor: pointer;
  transition: 0.4s;
  color: #fff;
}

.sidebar .links-content nav button:hover {
  background-color: #ffffff75;
}

.sidebar .links-content nav button > span {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  transition: ease-in-out 0.3s;
}

.sidebar .links-content nav button > span > span {
  font-size: 1rem;
}

.container {
  margin-left: 251px;
  display: flex;
  flex-direction: column;
  transition: ease-in-out 0.05s;
}

.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5vh;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);

  z-index: 1000;
}
.btn-menu {
  display: none;
}

#saudacao {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
}


.menu-mobile {
  display: none;
}

.button-mobile {
  /* display: none; */
  align-self: flex-start;
  align-items: center;
  margin: 16px;
  background-color: transparent;
  color: #fff;
  border: 0;
}

.menu-mobile-active {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  transition: ease-in-out 0.5s;
}

.menu-mobile-active button {
  background-color: transparent;
  border: 0;
  color: #fff;
  margin-bottom: 20px;
  width: 50%;
  text-align: left;
}

.menu-mobile-active button > span {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.btn-menu {
  background-color: transparent;
  border: none;
}

.btn-menu button span {
  font-size: 36px;
}

/* Media Query */
@media (width < 920px) {
  .sidebar {
    width: 72px;
  }

  .sidebar button > span {
    width: 50px;
  }

  .sidebar button > span > span {
    opacity: 0;
    visibility: hidden;
  }

  .container {
    margin-left: 72px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 490px) {
  .sidebar {
    display: none;
  }
  .container {
    margin-left: 0;
  }
  .title {
    display: none;
  }
  .btn-menu {
    display: block;
  }
}
