.container-main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-main .cont-img {
  max-width: 45%;
}

.container-main .cont-img img {
  width: 100%;
}