.tela-login__cont {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  
}

.tela-login__cont::before {
  content: "";
  position: absolute;
  background-image: url('../../../img/index/login.jpg');
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .1;
  filter: blur(.3rem);
  z-index: -10;
}

.form-login {
  width: 30rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  padding: 1rem;

}

.form-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.item {
  border-bottom: .1px solid #ccc;
  display: flex;
  align-items: center;
}

.item input {
  width: 20rem;
  color: #fff;
  padding: .8rem;
  border: none;
  outline: none;
  background-color: transparent;

}

.form-item button {
  width: 20rem;
  padding: .5rem 2rem;
  background-color: rgb(6, 86, 133);
  color: #fff;
  border-radius: 2rem;
  border: none;
  outline: none;
}

.title {
  width: 30rem;
  height: 10rem;
  border-bottom: .1rem solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.form-item button:last-child {
  background-color: rgb(100, 15, 19);
}