.dash {
  width: 100%;
  background-color: #fff;
  padding: 1rem;
}

.bold {
  font-weight: bold;
}

details {
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 15px #ccc;
}

table {
  border-collapse: collapse;
  border: .1rem solid #ccc;
  font-size: 1.3rem;
  overflow-x: scroll;
  margin-left: 1rem;
  text-align: center;
}

table td, th {
  border: .1rem solid #ccc;
  padding: 1rem;
}

.initial {
  width: 95%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 1rem;

}

.card-container {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 8rem;
}
.name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.name i {
  font-size: 3rem;
  color: green;
}

.card {
  min-width: 80%;
  padding: 1rem;
  text-align: center;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 5px 5px 15px #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}