.dash__container {
  width: 100%;
  height: 100%;
  background-color: black;
  color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.dados_iniciais {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}

.titulo {
  display: flex;
  justify-content: space-between;

}
.titulo h3 {
  font-size: 1.8rem;
}
.titulo h3 i {
  font-size: 3rem;
  margin-right: 1rem;
}
.tabela {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}
.tabela table {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
  background-color: #ccc;
  width: 100%;
  color: black;
}

table th, td {
  padding: 0.4rem;
  text-align: center;
}

.dados_iniciais.active .tabela {
  max-height: 350px;
  animation: fade 1s ease-in-out;
}

.dados_iniciais.active svg{
  transform: rotate(180deg);
}
svg{
  transition: transform .2s ease-in-out;
}

@keyframes fade {
  from{
    opacity: 0;
    transform: translateY(-10px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}