
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none
}

@import "_partial/colors";
@import "_partial/header";
@import "_partial/layout";
@import "_partial/nutricao";

body{
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
}
.container{
  width: 1440px;
  margin: 0 auto;
}

.button{
  width: 100px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  border: 1px solid $cor-branco;
  display: inline-block;
  background-color: transparent;
  border-radius: .2em;
  padding: 5px 10px;
  color: $cor-branco;
  font-size: 1em;
}
.button:hover{
  transform: scaleX(1.03);
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

img, svg{
  width: 100%;
}

section{
  width: 100%;
  height: 100vh;
}

span{
  color: $cor-laranja;
  text-transform: uppercase;
}
