* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

@import "_partial/colors";
@import "_partial/header";
@import "_partial/layout";



body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: $primary-dark;
  color: $white-light;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
