@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#home {
  margin-top: 80px;
  padding-bottom: 1000px;
}

.header__home {
  margin-top: 20px;
  display: flex;
}

.home__header {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px;
}

.text {
  display: flex;
  flex-direction: column;
  flex-basis: 750px;
  padding: 50px 25px;
  text-align: center;
}

.text p {
  width: 100%;
  font-size: 1.5em;
  margin-bottom: 25px;
  text-indent: 10px;
}

.text-logo {
  font-weight: bold;
  font-size: 1.8em;
  text-align: center;
}
.home__img img {
  width: 100%;
  border-radius: 10px;
}

.macro-group {
  flex: 1;
  display: grid;
  place-items: center;
  padding: 10px;
  width: 100%;
  height: 250px;
  background-image: url(../../assets/img/fundoazul.jpeg);
  background-size: cover;
  background-position: center center;
  display: grid;
  place-items: center;
}

.macro {
  display: flex;
  align-items: center;
  gap: 30px;
  color: #fff;
}

.text-macro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
  height: auto;
}

.text-macro img {
  width: 100px;
}

.text-macro > p {
  max-width: 600px;
  width: 100%;
  font-size: 1.3em;
  text-align: center;
}

.macro-cards {
  width: 100%;
  min-height: 500px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 10px;
  background: linear-gradient(90deg, #00d0ff94 0%, #3a47d591 100%);
}

.card-macro {
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: #fff;
  box-shadow: rgba(9, 30, 56, 0.4) 0px 8px 24px -8px;
  border-radius: 10px;
  padding: 0 10px 80px 10px;
  position: relative;
  color: black;
}
.img-macro {
  margin-top: 10px;
  width: 80px;
}
.img-macro img {
  width: 100%;
}

.card-macro ul li {
  margin-top: 10px;
}

.borda {
  width: 100%;
  background-color: rgb(27, 139, 42);
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 0 0 10px 10px;
  text-align: center;
}

.borda h2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#orange {
  background-color: orange;
}

#red {
  background-color: orangered;
}

@media (max-width: 1300px) {
  .home__header {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: auto;
    flex: auto;
  }

  .text {
    flex-basis: 200px;
    padding: 10px;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
  }
  .text-macro {
    flex-direction: column-reverse;
  }
}

.reverse {
  flex-direction: row-reverse;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hidratacao {
  background-image: url(../../assets/img/agua.jpg);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}


















@media (max-width: 720px) {
  .macro {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .img-group-text {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
  }

  .img-macro {
    width: 50px;
  }

  .text-macro img {
    width: 150px;
  }

  .card-macro {
    /* flex-direction: row; */
    width: 100%;
    height: auto;
  }

  .reverse {
    flex-direction: column-reverse;
  }
  .reverse img {
    width: 100px;
  }
}
