@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header__home {
  margin-top: 95px;
  display: flex;
  flex: 1 1 90vh;
  height: 90vh;
  align-items: center;
  justify-content: space-around;
}

.text {
  flex: 0 1 600px;
  font-size: 1.1em;
  text-align: center;
  line-height: 1.3;
}

.text > p {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
}

.text .text-logo {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

.header__home .home__img img {
  border-radius: 10px;
}

.macro-group {
  flex: 1 1 auto;
  background-color: rgb(11, 171, 235);
  display: flex;
  justify-content: center;
  padding: 5px;
  text-align: center;
}
.macro-group img {
  width: 80px;
}

.macronutrientes {
  margin-top: 10px;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  height: 90vh;
}

.macro-group .macro {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 600px;
}

.text-macro {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: center;
  padding: 10px;
  width: 900px;
}

.img__macro {
  width: 100%;
}

.text-macro .img__macro img {
  border-radius: 10px;
  width: 100%;
}

.home__text {
}

.macro-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  flex: 0 1 500px;
  gap: 10px;
}

.card-macro {
  flex: 0 0 auto;
  border: 1px solid #ccc;
  font-size: 0.9em;
  padding: 5px 10px 5px 30px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.card-macro .img-macro {
  width: 50px;
}
.card-macro .img-macro img {
  width: 100%;
}

.borda {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 100%;
}

#orange {
  background-color: rgb(194, 34, 34);
}
#verde {
  background-color: rgb(21, 149, 223);
}
#red {
  background-color: rgb(226, 172, 56);
}

@media screen and (max-width: 1600px) {
  .text {
    flex: 0 1 auto;
  }
  .header__home  {
    height: auto;
    /* background-color: yellow; */
    padding: 20px;
  }
  .text-macro {
    width: 100%;
  }
  .header__home .home__img img {
    width: 100%;
  }
  .macronutrientes {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}

@media screen and (max-width: 1300px) {
  .header__home {
    flex-direction: column-reverse;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .text {
    /* flex: 0 1 auto; */
    font-size: 0.9em;
    text-align: center;
    line-height: 1;
  }
  .header__home .home__img {
    text-align: center;
  }
  
}
