<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nutricionar | Musculação</title>
    <link
      rel="stylesheet"
      href="../../assets/pages/index/partials/index/pagina-2/global.css"
    />
  </head>
  <body>
    <header class="header">
      <div class="title">
        <h1>
          <span class="destaque">N</span>utri<span class="destaque"
            >Cionar</span
          >
        </h1>
        <p>A mudança do seu shape começa aqui</p>
      </div>
      <nav>
        <a href="#">Login</a>
      </nav>
    </header>
    <main>
      <section class="section section-um">
       <h1>Nutrição e Treino: A Dupla Poderosa para o Desenvolvimento Muscular</h1>
        
        <div class="card-descricao">
        <p>Se você está em busca de ganhar músculos, está no lugar certo. No Nutricionar, entendemos que o desenvolvimento muscular não depende apenas de horas intermináveis na academia, mas também de uma alimentação adequada. Neste artigo, vamos explorar a importância da dieta e do treino na sua jornada para alcançar o shape dos seus sonhos.</p>
        </div>

        <h2>A Importância do Treino</h2>
        
        <div class="card-descricao">
        <p>Treinar regularmente é o primeiro passo para ganhar massa muscular. O exercício resistido, como o levantamento de pesos, a musculação e os exercícios funcionais, são fundamentais para estimular o crescimento dos músculos. Aqui estão alguns pontos-chave sobre o treino:</p>
        </div>

        <div class="card-descricao">
          <img src="../../img/desenvolvimento-muscular.png" alt="">
        <p><span class="destaque">Estímulo Muscular:</span> Quando você realiza exercícios de resistência, está estimulando as fibras musculares a se romperem de maneira controlada. Isso desencadeia o processo de recuperação e crescimento muscular.</p>
        </div>
        
        <div class="card-descricao">
          <img src="../../img/variacao.png" alt="">
        <p><span class="destaque">Variedade de Exercícios:</span> É importante variar seus exercícios para trabalhar diferentes grupos musculares e evitar o platô, no qual seu corpo se acostuma com o treino. Um programa de treino bem planejado deve incluir exercícios para todos os grupos musculares.</p>
        </div>
        
        <div class="card-descricao">
          <img src="../../img/progress.png" alt="">
        <p><span class="destaque">Progressão e Intensidade:</span> Aumente gradualmente a carga e a intensidade dos exercícios. Isso desafia seus músculos a se adaptarem e crescerem.</p>
        </div>
        
        <h2>A Importância da Dieta</h2>
        
        <div class="card-descricao">
        <p>A dieta desempenha um papel igualmente importante no desenvolvimento muscular. Sem os nutrientes certos, seu corpo não terá o material necessário para construir e reparar músculos. Aqui estão algumas diretrizes nutricionais essenciais:</p>
        </div>
        
        <div class="card-descricao">
          <img src="../../img/proteina.png" alt="">
        <p><span class="destaque">Proteína:</span> A proteína é o bloco de construção dos músculos. Certifique-se de consumir uma quantidade adequada de proteína magra, como peito de frango, peixe, ovos e legumes.</p>
        </div>
        <div class="card-descricao">
          <img src="../../img/kcal.png" alt="">
        <p><span class="destaque">Calorias Adequadas:</span> Para ganhar massa muscular, você deve estar em um superávit calórico. Isso significa que você deve consumir mais calorias do que queima. Mantenha um equilíbrio saudável entre proteínas, carboidratos e gorduras.</p>
      </div>
        <div class="card-descricao">
          <img src="../../img/hidratacao.png" alt="">
        <p><span class="destaque">Hidratação:</span> A água desempenha um papel vital na recuperação muscular. Certifique-se de beber água suficiente para evitar a desidratação, que pode prejudicar o crescimento muscular.</p>
      </div>
        <div class="card-descricao">
          <img src="../../img/whey-protein.png" alt="">
        <p><span class="destaque">Suplementação:</span> Em alguns casos, suplementos como whey protein e creatina podem ser úteis para complementar a dieta. Consulte um profissional de saúde antes de iniciar qualquer suplementação.</p>
      </div>

        <h2>Conclusão</h2>
        
        <div class="card-descricao">
        <p>Em resumo, o desenvolvimento muscular é um equilíbrio delicado entre o treino e a dieta. Não basta apenas levantar pesos; você também precisa fornecer ao seu corpo os nutrientes necessários para construir músculos de forma eficaz. O Nutricionar está aqui para ajudá-lo a entender esses princípios e a criar um plano personalizado que o levará ao shape desejado. Lembre-se, a mudança do seu shape começa com a combinação certa de nutrição e treino.</p>
        </div>
    </main>
    <dialog class="modal" open="">
      <div class="container-modal">
        <div class="card-img">
          <img src="../../img/login.jpeg" alt="">
        </div>
        <div class="card-form">
          <form action="">
            <div class="card-input">
              <label for="email">Email</label>
              <input type="email" name="email" id="email">
            </div>
            <div class="card-input">
              <label for="senha">Senha</label>
              <input type="password" name="senha" id="senha">
            </div>
            <input type="submit" value="Enviar">
          </form>
        </div>
      </div>
    </dialog>
    <footer></footer>
  </body>
</html>
