<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nutricionar | Musculação</title>
    <link
      rel="stylesheet"
      href="../../assets/pages/index/partials/index/pagina-2/global.css"
    />
  </head>
  <body>
    <header class="header">
      <div class="title">
        <h1>
          <span class="destaque">N</span>utri<span class="destaque"
            >Cionar</span
          >
        </h1>
        <p>A mudança do seu shape começa aqui</p>
      </div>
      <nav>
        <a href="#">Login</a>
      </nav>
    </header>
    <main>
      <h1>Benefícios da Musculação</h1>
      <div class="beneficio">
        <div class="foto"><img src="../../img/musculacao-1.jpg" alt="" /></div>
        <p>
          Seja bem-vindo! Hoje, vamos falar sobre um assunto que interessa a
          todos que buscam uma vida mais saudável e equilibrada: a musculação. A
          prática regular de atividades físicas, como a musculação, é essencial
          para manter nosso organismo funcionando de maneira adequada e
          eficiente. Mas você sabe quais são os benefícios específicos da
          musculação para a nossa saúde e bem-estar?
        </p>
        <input type="checkbox" name="esconder" id="esconder">
        <label for="esconder">Continue lendo...</label>
        <div class="esconder" id="esconder-div">
          <p>
            A musculação, muitas vezes vista apenas como uma forma de moldar o
            corpo e ganhar músculos, vai além do aspecto estético. Ela traz uma
            série de benefícios para a nossa saúde que são fundamentais para uma
            vida longa e saudável. Quando falamos em saúde, não estamos nos
            referindo apenas à ausência de doenças, mas também à capacidade de
            ter um bom desempenho físico, mental e social. E é aqui que a
            musculação se destaca.
          </p>
          <p>
            O objetivo deste blog post é explorar esses benefícios em detalhes.
            Vamos descobrir como a musculação pode fortalecer nossos músculos e
            aumentar nossa resistência física, melhorar a saúde cardiovascular,
            prevenir a osteoporose, entre outros benefícios para a saúde. Além
            disso, vamos entender como a musculação pode melhorar o nosso
            bem-estar, através da liberação de endorfinas, aumento da autoestima
            e redução do estresse e da ansiedade.
          </p>

          <p>
            E não pense que a musculação é só para jovens ou para quem deseja
            ter um corpo musculoso. Ela é importante para todas as idades, desde
            crianças e adolescentes, que estão em fase de crescimento, até
            adultos e idosos, que precisam manter a capacidade funcional e
            prevenir doenças relacionadas ao envelhecimento. Além disso, vamos
            dar algumas dicas de como começar a prática de musculação de forma
            segura.
          </p>
          <p>Estamos prontos para embarcar nessa jornada? Então, vamos lá!</p>
        </div>
      </div>
      <div class="card-beneficios"></div>
    </main>
    <footer></footer>
  </body>
</html>
