/* SCSS HEX */
$primary-dark: #0b1f32ff;
$primary-light: #232c2eff;
$primary-red: rgb(185, 24, 64);
$white-dark: #efffebff;
$white-light: white;

$secundary-red:rgb(167, 53, 53);



//font variable
$mainFont: 'Poppins', sans-serif; 
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');