header {
  width: 100%;
  color: $primary-dark;
  // padding: 0 8px;
}

.header-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $white-light;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
}
.links a {
  color: $white-light;
}

.login a {
  color: $white-light;
}

.login a:hover {
  color: $primary-red;
}


@media (max-width: 768px) {
  .links {
    display: none;
  }
}
