//Home

.bg-header {
  position: relative;
}

.bg-header::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e),
    url("../assets/img/wallpaper_musculacao.png");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; /* Full screen */
  z-index: -1; /* Behind the content */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0.1;
}

//Hero

.hero {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;

  h1 {
    font-size: 48px;
    color: $white-dark;
  }
  h2 {
    color: $white-dark;
  }
}

.btn-hero {
  padding: 5px 10px;
  border: 1px solid #ccc;
  color: $white-light;
  border-radius: 5px;
  background-color: $primary-red;
  text-align: center;
  line-height: 150%;
}
.btn-hero:hover {
  animation: scaleButton 0.8s alternate infinite;
}
@keyframes scaleButton {
  to {
    transform: scale(1.07);
  }
}

//Benefícios

.beneficios-group {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.beneficios {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    border-bottom: 1px solid #ccc;
    width: 100%;
    text-align: center;
  }
}

.img-beneficios {
  width: 500px;
}

.beneficio-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.lista-beneficios {
  display: flex;
  ul {
    li {
      margin-bottom: 20px;
    }
    ::before {
      content: "✔️";
      margin-right: 20px;
    }
  }
}

// Macronutrientes
.macros {
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  > h2 {
    margin-top: 15px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    text-align: center;
  }
}

.macro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 30px;
  flex-wrap: wrap;
}
.img-macro {
  width: 560px;
  img {
    width: 100%;
  }
}
.macro-texto {
  width: 500px;
  p {
    line-height: 150%;
  }
}

// Cards Macronutrientes
.card-macro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card {
  position: relative;
  flex: 1;
  text-align: center;
  border-radius: 0 0 10px 10px;
  background-color: $primary-dark;

  h2 {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
  }
}

.img-texto {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
.img-card {
  width: 50px;
  text-align: center;
  img {
    width: 100%;
  }
}

.card-texto {
  padding: 8px;
  margin-bottom: 10px;
}

.macro-fontes {
  ul {
    padding: 10px;
    li {
      margin-bottom: 10px;
      text-align: left;
    }
    ::before {
      content: "✅";
      margin-right: 10px;
    }
  }
}

#carbo {
  border: 1px solid rgb(0, 119, 255);
}
#proteina {
  border: 1px solid rgb(190, 89, 89);
}
#gordura {
  border: 1px solid rgb(201, 198, 62);
}

// Estilo para os cards-mobile
.tablink.active {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  background-color: #ccc;
  color: black;
  font-weight: bold;
  
}

/* Estilo do conteúdo das abas */
.tabcontent {
  display: none;
  // padding: 8px;
}

.cards-mobile {
  display: none;
}

.tabs {
}

.btn {
  width: 100%;
  display: flex;
}
.tablink {
  background-color: transparent;
  color: #fff;
  padding: 8px 12px;
  cursor: pointer;
  width: 100px;
  border-top: 1px solid #ffffff59;
  border-left: 1px solid #ffffff59;
  border-right: 1px solid #ffffff59;
  flex: 1;

// ---------------------------------------Fim Card Mobile
// hidratação
.hidratacao {
  h2 {
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    width: 100%;
  }
}
.hidra-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.img-hidra,
.texto-hidra {
  width: 500px;
}
._texto_hidra {
  margin-bottom: 10px;
  line-height: 150%;
}

details {
  cursor: pointer;
  button {
    width: 150px;
    padding: 5px;
    margin-bottom: 10px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #cccccc42;
    border-radius: 5px;
    &:hover {
      background-color: $primary-red;
    }
  }
}

details p._texto_hidra {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

details[open] p._texto_hidra {
  max-height: 1000px; /* Ajuste conforme necessário */
  transition: max-height 0.5s ease-in;
}

.importancia-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: row-reverse;
  background-image: linear-gradient(to left, $primary-dark, #1164d1);
  padding: 10px;
  flex-wrap: wrap;
}
.lista-hidra {
  ul {
    li {
      margin-bottom: 10px;
    }
    ::before {
      content: "☑️";
      margin-right: 10px;
    }
  }
}

@media (max-width: 768px) {
  .hero {
    justify-content: flex-start;
    min-height: 40vh;
  }
  .img-beneficios {
    max-width: 200px;
    img {
      width: 100%;
    }
  }
  .lista-beneficios ul li {
    margin-bottom: 5px;
  }
  .img-macro {
    max-width: 350px;
    width: 100%;
  }
  .macro-texto {
    width: 100%;
    p {
      line-height: 150%;
    }
  }
  .card-macro {
    display: none;
  }
  .cards-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 100%;
    z-index: -1;
  }
}