.hero{
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: calc(100vh - 64px);
  
  gap: 30px;
}

.hero__text{
  max-width: 600px;
  h1{
    font-size: 4em;
    text-align: center;
  }
  p{
    font-size: 16px;
    line-height: 1.5;
    text-indent: 50px;
    padding: 10px;
  }
}
.img__hero{
  max-width: 500px;
}


