/*------MEDIA QUERY LAYOUT-----*/
@media (max-width: 768px) {
  .hero {
    justify-content: flex-start;
    min-height: 40vh;
  }

  .img-beneficios {
    max-width: 200px;
    img {
      width: 100%;
    }
  }

  .lista-beneficios ul li {
    margin-bottom: 5px;
  }

  .img-macro {
    max-width: 350px;
    width: 100%;
  }

  .macro-texto {
    width: 100%;
    p {
      line-height: 150%;
    }
  }

  .card-macro {
    display: none;
  }

  .cards-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    width: 100%;
    z-index: -1;
  }
  .musculacao {
    min-height: 20vh;
    align-items: center;
  }
  .main-text .estatico {
    font-size: 30px;
    font-weight: 400;
  }
  .main-text .dinamico {
    margin-left: 5px;
    line-height: 48px;
    height: 90px;
    overflow: hidden;
    li {
      color: palevioletred;
      font-size: 30px;
      font-weight: 500;
    }
  }
}
