<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atleta | Modelo</title>
    <link rel="stylesheet" href="../atleta/style.css" />
    <link rel="icon" href="data:," />
    <script
      src="https://kit.fontawesome.com/fc1d6ae1da.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="secao" id="atleta__principal">
      <div class="sct-principal">
        <div class="container">
          <div class="titulo">
            <h3>Painel de Controle</h3>
            <div class="saudacao">
              <p>Olá, <strong>Atleta</strong>! Seja bem-vindo!</p>
              <i class="fa-regular fa-bell"></i>
            </div>
          </div>
          <div class="icones">
            <button><i class="fa-solid fa-chart-simple"></i></button>
            <button><i class="fa-solid fa-dumbbell"></i></button>
            <button><i class="fa-solid fa-utensils"></i></button>
            <button><i class="fa-solid fa-weight-scale"></i></button>
          </div>
        </div>
      </div>
    </section>
    <section class="secao" id="atleta__dashboard">
      <h1>Dashboard</h1>
    </section>
    <section class="secao" id="atleta__treino">
      <h1>Treino</h1>
    </section>
    <section class="secao" id="atleta__dieta">
      <h1>Dieta</h1>
    </section>
    <section class="secao" id="atleta__medidas">
      <h1>Antropometria</h1>
    </section>

    <script src="script.js"></script>
  </body>
</html>
