<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atleta | Modelo</title>
    <link rel="stylesheet" href="../atleta/style.css" />
    <link rel="icon" href="data:," />
    <script
      src="https://kit.fontawesome.com/fc1d6ae1da.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section id="atleta__home" class="section active">
      <div class="container">
        <div class="atleta">
          <i class="fa-solid fa-circle-user"></i>
          <p id="saudacaoAtleta">Bom dia, Mauricio!</p>
          <p>Atleta</p>
        </div>
        <div class="icon-container">
          <button id="btnDashboard">
            <i class="fa-solid fa-chart-simple"></i>
            Dashboard</button>
          <button id="btnTreino">
            <i class="fa-solid fa-dumbbell"></i>
            Treino</button>
          <button id="btnDieta">
            <i class="fa-solid fa-utensils"></i>
            Dieta</button>
          <!-- <button id="btnMedidas">
            <i class="fa-solid fa-weight-scale"></i>
            Medidas</button> -->
        </div>
      </div>
    </section>
    <section id="atleta__dashboard" class="section"><h2>Dashboard</h2></section>
    <section id="atleta__treino" class="section"><h2>Treino</h2></section>
    <section id="atleta__dieta" class="section"><h2>Dieta</h2></section>
    <section id="atleta__medidas" class="section"><h2>Medidas</h2></section>

    <script src="../../partials/atleta/script.js"></script>
    <script src="../../partials/atleta/js/modelo.js"></script>
  </body>
</html>
