@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #e9e8e8;
  height: 100dvh;
}

header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 10px;
  height: 5vh;
}

.sidebar {
  width: 20%;
  height: 100%;
  border-right: 1px solid #ccc;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.sidebar a {
  display: block;
  padding: 20px;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  color: #ccc;
  font-size: 0.5em;
}

.sidebar a i {
  font-size: 20px;
  color: #ccc;
}

.sidebar a i:hover {
  color: grey;
}

.block-mobile {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    flex: 20 1 15%;

    height: 100vh;
  }
  .block-mobile {
    display: block;
  }
  .icon-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 25px;
  }
  .icon-group a {
    margin-right: 20px;
  }
  .icon-group a i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
  }
  .title {
    flex: 1;
  }

}
