.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ffffff36;
    height: 10vh;
    color: #fff;
    background: #8E0E00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.destaque {
    color: red;
}

.header .title h1 {
    font-size: 3rem;
}

.header p {
    text-align: center;
    margin-top: -10px;
}

.header a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 20px;
    transition: .4s;
}

.header a:hover {
    opacity: .4;
}


@media (max-width: 766px){


    .title {
        text-align: center;
    }

    .header .title h1 {
        font-size: 2rem;
    }

    .header .title p {
        font-size: 0.6rem;
    }
}

