main {
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
    padding: 0 20px;
    background-color: black;
}

main h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}

main .foto {
    width: 100%;
    background-color: blue;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .foto img {
    width: 100%;
    display: block;
}

main .beneficio p {
    text-indent: 30px;
    text-align: justify;
    padding: 10px 0;
    line-height: 30px;
}

#esconder:checked+label+#esconder-div {
    display: block;
}

#esconder, label {
    display: none;
}

label {
    padding: 20px;
    color: red;
    border: 1px solid #ccc;
    text-align: center;
}






@media(max-width: 350px) {
    .esconder {
        display: none;
    }
    label {
        display: block;
    }
}