main h1,
h2,
h3,
p {
    margin: 5px 0;
    color: black;
}

main h1 {
    text-transform: uppercase;
    text-align: center;
}

main p {
    text-align: justify;
    text-indent: 40px;
}

.section {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}


.card-descricao {
    display: flex;
    align-items: center;
    margin: 20px 0;
    box-shadow: 0px 0px 15px 0px #cccccc88;
    padding: 10px;
    border-radius: 10px;
}

.card-descricao p {
    text-align: justify;
    color: black;
}

img {
    width: 80px;
    margin-right: 10px;

}

.modal {
    border-radius: 10px;
    width: 650px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8E0E00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

.container-modal {

    display: flex;
    align-items: center;
    padding: 5px;
    gap: 10px;

}

.card-img {
    max-width: 150px;
    

}

.card-img img {
    width: 100%;
    border-radius: 50%;
}

.card-form {
    display: flex;
    flex-direction: column;
}

.card-input {
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
}

.card-input input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

input[type=submit] {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(to bottom, blue), white;
    outline: none;
    border: 1px solid #ccc;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: black;
    color: #fff;
}



@media (max-width: 800px) {
    .card-descricao {
        flex-direction: column;
    }

    .section h1 {
        text-align: center;
    }

    .card-descricao img {
        align-self: flex-start;
        border-bottom: 1px solid #ccc;
        padding: 10px;
    }

    .container-modal {

        display: flex;
        align-items: center;
        padding: 5px;
        gap: 10px;
        flex-direction: column;
    
    }

    .modal {
        border-radius: 10px;
        width: 350px;
        height: auto;
    }
}