@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

body,
html {
    background: #8E0E00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header,
footer {
    background-color: rgb(155, 1, 1);
    min-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}

.img-index {
    max-width: 500px;
   

}

.img-index img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}


.destaque {
    color: rgb(218, 18, 18);
}

a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: .4s;
}

a:hover {
    background-color: rgb(155, 1, 1);
}

.conteudo {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.conteudo h1 {
    font-size: 4rem;
    text-align: center;
}

@media (max-width: 900px){
    main {
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        gap: 20px;
    }

    .conteudo h1 {
        font-size: 1.5rem;
        text-align: center;

    }
}